.logo {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
}

.horizontalDivider1,
.horizontalDivider2 {
  width: 60%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 13;
}

.horizontalDivider1 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.horizontalDivider2 {
  grid-row-start: 9;
  grid-row-end: 10;
}

.navList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  margin: 0vw 0vw 2vw 0vw;
  padding: 0;
}

.navList li a {
  color: rgba(248, 233, 255, 0.5);
  cursor: pointer;
  margin: 0;
  font-family: 'Inter';
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2vw;
}

.navList li a:hover,
.isActive {
  color: rgba(248, 233, 255, 1);
}

.navList li:hover {
  color: rgba(248, 233, 255, 1);
}

@media screen and (max-width: 1024px) {
  .navList {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 10;
    padding: 0;
  }

  .navList li {
    margin: 1vw 0vw;
  }

  .navList li a {
    font-weight: 500;
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  .navList li {
    margin: 2vw 0vw;
  }
  
  .navList li a {
    font-size: 5vw;
  }
}