@font-face {
  font-family: 'Briem Bold';
  src: url('../../Fonts/Briem/BriemScriptStd-Bold.otf');
}

@font-face {
  font-family: 'Inter';
  src: url('../../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

.mainWrapper {
  margin: 0 auto;
  position: relative;
  width: 90%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.logoWrapper {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
}

.logo {
  background-image: url('./images/Group.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 6vw;
  height: 8vw;
}

.logoTitle {
  background-image: url('./images/Group-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 15vw;
  height: 9vw;
}

.joinUsWrapper {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 9;
  grid-row-end: 12;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin-left: 1vw;
}

.joinUsTitle {
  font-family: 'Briem Bold';
  font-weight: 800;
  font-size: 3.5vw;
  color: #ffffff;
  margin: 0;
  line-height: 1vw;
}

.joinUsTitle span {
  display: block;
  margin-top: 3vw;
}

.buttonWrapper {
  margin-top: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-image: linear-gradient(#F39200 0%, #E4032E 100%);
  width: 20vw;
  height: 4vw;
  -webkit-box-shadow: 1px 10px 50px -1px #e5032e;
  box-shadow: 1px 10px 50px -1px #e5032e !important;
  border-radius: 0.8vw !important;
  cursor: pointer;
}

.button h3 {
  font-size: 1.3vw;
  font-family: "Inter";
  font-weight: 800;
  margin: 0;
}

.button img {
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 1vw;
}

.buttonWrapper h2 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.7vw;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .logoWrapper {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .logoTitle {
    width: 25vw;
    height: 12vw;
  }

  .logo {
    width: 10vw;
    height: 12vw;
  }

  .joinUsWrapper {
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 12;
  }

  .joinUsTitle {
    text-align: center;
    font-size: 5vw;
  }

  .joinUsTitle span {
    display: initial;
    margin: 0;
  }

  .buttonWrapper {
    margin: 0vw;
  }

  .button {
    height: 6vw;
    width: 25vw;
  }

  .button h3 {
    font-size: 1.5vw;
  }

  .button img {
    width: 2vw;
    height: 2vw;
    margin-left: 1vw;
  }
}

@media (max-width: 480px) {
  .logoWrapper {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .logoTitle {
    width: 35vw;
    height: 16vw;
  }

  .logo {
    width: 14vw;
    height: 16vw;
  }

  .joinUsWrapper {
    grid-column-start: 2;
    grid-column-end: 12;
  }

  .joinUsTitle {
    font-size: 10vw;
    line-height: 0vw;
    margin: auto;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
  }

  .button {
    height: 10vw;
    width: 50vw;
    border-radius: 10px !important;
  }

  .button h3 {
    font-size: 3vw;
  }

  .button img {
    width: 3vw;
    height: 4vw;
    margin-left: 1vw;
  }

  .buttonWrapper h2 {
    font-size: 4.5vw;
    margin: 6vw 0vw 0vw 0vw;
  }
}