.mobileNavigation {
  display: none;
}

.mobileNavigationActive {
  display: none;
}

.hamburger-close {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .mobileNavigation {
    display: flex;
    align-items: center;
    grid-column-start: 12;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    margin-top: 8vw;
  }

  .mobileNavigationActive {
    width: 100%;
    height: 100%;
    background-image: url(../MainPage/images/Group\ 137.png);
    backdrop-filter: blur(30px);
    position: absolute;
    z-index: 9;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
}

@media (max-width: 480px) {
  .mobileNavigation {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 8vw;
  }

  .hamburger-open {
    width: 8vw;
    height: 8vw;
  }
}