@font-face {
  font-family: 'Inter';
  src: url('../../../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

.button {
  background-image: linear-gradient(#F39200 0%, #E4032E 100%);
  width: 20vw;
  height: 4vw;
  -webkit-box-shadow: 1px 10px 50px -1px #e5032e;
  box-shadow: 1px 10px 50px -1px #e5032e !important;
  border-radius: 0.8vw !important;
  cursor: pointer;
  font-size: 1vw;
}

.button[type=submit][disabled] {
  box-shadow: none !important;
  background-blend-mode: overlay;
}

.buttonTitle {
  font-size: 1.3vw;
  font-family: "Inter";
  font-weight: 800;
  margin: 0;
}

.buttonArrow {
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 1vw;
}

@media (max-width: 1024px) {
  .button {
    height: 6vw;
    width: 25vw;
  }

  .buttonTitle {
    font-size: 1.5vw;
  }

  .buttonArrow {
    width: 3vw;
    height: 2vw;
    margin-left: 1vw;
  }
}

@media (max-width: 480px) {
  .button {
    height: 12vw;
    width: 60vw;
    border-radius: 10px !important;
  }

  .buttonTitle {
    font-size: 4vw;
  }

  .buttonArrow {
    width: 5vw;
    height: 4vw;
    margin-left: 2vw;
  }
}