.main-wrapper {
  width: 100%;
  display: flex;
  height: 100vh;
  
  background-image: url('./Components/MainPage/images/Group\ 117_cut.png');
  background-repeat: no-repeat;
  background-position: 70% 40%;
  background-size: 70vw;
  position: relative;
}

@media (max-width: 1024px) {
  .main-wrapper {
    background-position: -15% 40%;
    background-size: 150vw;
  }
}

@media (max-width: 480px) {
  .main-wrapper {
    background-position: -2% 40%;
    background-size: 210vw;
  }
}

@media (max-width: 400px) {
  .main-wrapper {
    background-position: -6% 40%;
    background-size: 170vw;
  }
}